{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
        <h1>Delete Confirmation</h1>
        <p>Are you sure you want to delete {{ user.username | title }}'s profile?</p>
        <form method="POST" action="{% url 'delete_profile' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'view_profile' %}" class="btn btn-success">No, go back</a>
        </form>
    </div>
<div>
    <br><br><br><br><br><br><br><br><br>
</div>

{% endblock  %}
    